<template>
    <div class="card foreground-element">
        <h2>{{event.event_title}}</h2>

        <div class="event_info">
            <p><v-icon left color="#f2f2f2">mdi-account</v-icon>Hosted by {{event.event_host}}</p>
        </div>
        <div class="event_info">
            <p><v-icon left color="#f2f2f2">mdi-home-circle</v-icon>{{event.event_address}}</p>
        </div>
        <div class="event_info">
            <p><v-icon left color="#f2f2f2">mdi-calendar</v-icon>{{event.date}}</p>
        </div>
        <div class="event_info">
            <p><v-icon left color="#f2f2f2">mdi-clock</v-icon>from {{event.startHour}} to {{event.endHour}}</p>
        </div>
        <div class="event_info">
            <p><v-icon left color="#f2f2f2">mdi-note-text</v-icon>{{event.event_description}}</p>
        </div>
        <div class="event_info">
            <p><v-icon left color="#f2f2f2">mdi-account-multiple</v-icon>Min participants: {{event.event_min_participants}} | Max participants: {{event.event_max_participants}}</p>
        </div>
        <div class="actions-container">
            <div>
                <button @click="showDetails" class="actions">Show details</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['event'],
        methods: {
          showDetails() {
              this.$router.push(`/event/${this.event.event_slug}`)
          }
        },
        data: () => ({
            show: false,
        }),
    }
</script>