<template>
    <div class="container">
        <h1 class="page-title">{{event.event_title}}</h1>
        <div class="foreground-element event-details">
            <h2 class="event-details-header">Event informations</h2>
            <div class="event-details-infos">
                <div class="event_info">
                    <p><v-icon left color="#f2f2f2">mdi-account</v-icon>Hosted by {{event.event_host}}</p>
                </div>
                <div class="event_info">
                    <p><v-icon left color="#f2f2f2">mdi-home-circle</v-icon>{{event.event_address}}</p>
                </div>
                <div class="event_info">
                    <p><v-icon left color="#f2f2f2">mdi-calendar</v-icon>{{event.date}}</p>
                </div>
                <div class="event_info">
                    <p><v-icon left color="#f2f2f2">mdi-clock</v-icon>from {{event.startHour}} to {{event.endHour}}</p>
                </div>
                <div class="event_info">
                    <p><v-icon left color="#f2f2f2">mdi-note-text</v-icon>{{event.event_description}}</p>
                </div>
                <div class="event_info">
                    <p><v-icon left color="#f2f2f2">mdi-account-multiple</v-icon>Min participants: {{event.event_min_participants}} | Max participants: {{event.event_max_participants}}</p>
                </div>
            </div>
        </div>

        <div class="foreground-element event-details">
            <h2 class="event-details-header">Event invitations</h2>
            <div class="event-details-infos">
                <Loader v-if="!invitations  && !error"/>
                <div v-if="error" class="http-error"><v-icon left color="#f2f2f2" large>mdi-alert</v-icon>{{error}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import Loader from "./Loader"

    export default {
        components: {
          Loader
        },
        computed: mapState({
            event: function(state) { return state.events.find(e => e.event_slug === this.$route.params.event) },
            invitations: state => state.invitations,
            error: state => state.invitationsError
        }),
        mounted() {
            this.$store.dispatch('getEventInvitations', this.event.event_id)
        }
    }
</script>

<style scoped>
    h1{
        font-size: 2.4rem !important;
    }
</style>