<template>
    <div class="container">
        <h1 class="page-title">All events</h1>
        <div class="event-container">
            <Event :event="event" v-bind:key="event.event_id" v-for="event in events"/>
        </div>
        <Loader v-if="!events"/>
    </div>
</template>

<script>
import {mapState} from 'vuex'
import Loader from './Loader.vue'
import Event from './Event'

export default {
    components: {
        Loader,
        Event
    },
    computed: mapState({
        events: state => state.events
    }),
    mounted() {
        this.$store.dispatch('getAllEvents')
    }
}
</script>