<template>
   <div class="form-container">
        <Loader v-if="loading" />
        <div v-if="!loading" class="login-form foreground-element">
            <h1 class="form-title">Welcome to Guesterix</h1>
                <v-text-field 
                    v-model="credentials.userNameOrEmail"
                    color="white"  
                    class="form-field"
                    label="Username or e-mail"
                >
                </v-text-field>

                <v-text-field 
                    v-model="credentials.password"
                    type="password"
                    color="white"  
                    class="form-field"
                    label="Password"
                >
                </v-text-field>
                <div class="actions-container">
                    <v-btn class="actions" :disabled="!validCredentials" @click="login">Login<v-icon right>mdi-login</v-icon></v-btn>
                    <v-btn class="actions" :disabled="!validCredentials" @click="signup">Sign up<v-icon right>mdi-account</v-icon></v-btn>
                </div>
                <div v-if="errors" class="foreground-element error-container">
                    <p :key="error" v-for="error in errors"><v-icon left color="white">mdi-alert</v-icon>{{error}}</p>
                </div>
        </div>
   </div>
</template>

<script>
import {mapState} from 'vuex'
import Loader from './Loader.vue'

export default {
    components: {
        Loader
    },
    data() {
        return {
            loading: false,
            credentials: {
                userNameOrEmail: '',
                password: '',
            },
            rules: [
                value => !!value || 'Required.',
                value => (value && value.length >= 3) || 'Min 3 characters',
            ],
        }
    },
    computed: mapState({
        errors: state => state.loginErrors,
        validCredentials: function() {
            return this.credentials.userNameOrEmail && this.credentials.password
        }
    }),
    methods: {
        async login(){
            this.loading = true
            this.$store.commit('setLoginErrors', null)
            await this.$store.dispatch('login', this.credentials)
            this.loading = false
        },
        signup() {
            window.location = 'https://young-hamlet-80317.herokuapp.com/registration'
        }
    },
}
</script>

<style scoped>
    .actions {
        font-weight: 400;
        border-radius: 6px;
        background: #f2f2f2;
        box-shadow:  -3px -3px 5px #fff,
                 5px 5px 5px#cecece;
    }

    .actions:hover{
        background: rgba( 255, 255, 255, 0.35 ) !important;
        box-shadow: 0 8px 32px 0 rgba( 31, 80, 123, 0 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
    }

    .actions-container {
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: #f2f2f2;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

</style>