<template>
    <nav class="navbar">
        <div class="link-container">
            <p class="link" @click="navigate('/')" >
                <span x-large>
                    Home
                    <v-icon>mdi-home</v-icon>
                </span>
            </p>
            <p class="link" @click="logout">
                <span x-large>
                    Logout
                    <v-icon >mdi-logout</v-icon>
                </span>
            </p>
        </div>
    </nav>
</template>

<script>
export default {
    methods: {
        navigate(route) {
            this.$router.push(route).catch(() => {})
        },
        logout() {
            this.$store.commit('logout')
            this.$router.push('/login').catch(() => {})
        }
    }
}
</script>