<template>
  <v-app>
    <NavBar v-if="user"/>
    <router-view />
  </v-app>
</template>

<script>
import NavBar from './components/NavBar'
import { mapState } from "vuex"
export default {
  name: 'App',
  computed: mapState({
    user: state => state.user
  }),
  components: {
    NavBar
  },

  data: () => ({
    //
  }),
};
</script>

<style lang="scss">
  @import './assets/sass/style.scss'
</style>
