#app {
    background: url('assets/images/background.jpg') fixed center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.navbar {
    height: 80px;
    background-color: #f2f2f2;
    position: fixed;
    width: 100%;
    border-radius: 0px !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 80, 123, 0.37 );
    z-index: 1000;
}

.form-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.foreground-element {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 80, 123, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.login-form {
    position: relative;
    color: white;
    width: 400px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-title {
    padding: 24px 0 0 0;
    margin-bottom: 24px;
    font-size: 2.15rem;
    text-align: center;
    font-weight: 200;
}

.form-field, input {
    padding: 0 42px;
    color: white !important;
}

.form-btn {
    font-weight: 300 !important;
    color: #033a23 !important;
}

.error-container {
    position: absolute;
    width: 400px;
    bottom: -108px;
    left: 0px;
    padding: 16px;
    text-align: center;
    p{
        margin: 4px
    }
}

.container {
    margin: 120px 0;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.link-container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    p{
        margin: 0
    }
}

.page-title {
    color: white;
    font-size: 4em;
    font-weight: 200;
}

.page-content {
    padding: 32px;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link {
    border-radius: 6px;
    background: #f2f2f2;
    box-shadow:  -3px -3px 5px #fff,
                 5px 5px 5px#cecece;

    padding: 8px  16px;
    margin-right: 16px !important;
    cursor: pointer;
    transition: all 0.2s;
}

.link:hover {
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 80, 123, 0 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    padding: 8px  16px;
    border-radius: 4px;
    margin-right: 16px !important;
}

.actions-container {
    background:#f2f2f2;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.actions {
    width: 120px;
    height: 40px;
    border-radius: 6px;
    background: #f2f2f2;
    box-shadow:  -3px -3px 5px #fff,
    5px 5px 5px#cecece;
    transition: all 0.2s;
}


.actions:hover {
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 80, 123, 0 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.card {
    margin-top: 36px;
    height: 464px;
    width: 464px;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h2{
        height: 80px;
        padding: 26px 16px;
        color: #f2f2f2;
        font-weight: 300;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    box-shadow: 0 8px 32px 0 rgba( 31, 80, 123, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.event_info {
    padding: 0 16px;
    color: #f2f2f2;
}

.event-details{
    margin-top: 64px;

    .event-details-infos {
        padding: 32px;
    }
    .event-details-header {
        font-weight: 300;
        background: #f2f2f2;
        padding: 24px 46px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.http-error {
    font-style: italic;
    color: #f2f2f2;
    font-size: 1.2rem;
}